<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-4 header-col d-flex justify-content-around">
      <div class="align-self-center masthead">Prescott Comedy Club</div>
    </div>
    <div class="col-sm-4 header-col d-flex justify-content-around">
      <div class="align-self-center"><a href="/about"></a></div>
    </div>
    <div class="col-sm-4 header-col d-flex justify-content-around">
      <div class="align-self-center"><button>Buy Tickets</button></div>
    </div>
  </div>
</div>
