<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-4 header-col d-flex justify-content-around">
      <div class="align-self-center masthead">
        <a routerLink="/" routerLinkActive="active" class="masthead"
          >Prescott Comedy Club</a
        >
      </div>
    </div>
    <div class="col-sm-4 header-col d-flex justify-content-around">
      <div class="align-self-center"><a href="/about"></a></div>
    </div>
    <div class="col-sm-4 header-col d-flex justify-content-around">
      <div class="align-self-center">
        <a routerLink="/tickets" routerLinkActive="active"
          ><button>Purchase Tickets</button></a
        >
      </div>
    </div>
  </div>
</div>
