.header {
  height: 75px;
  background-color: grey;
  font-family: "Montserrat", arial, sans-serif !important;
  font-size: 24px;
}

.masthead {
  font-family: "Montserrat", arial, sans-serif !important;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.091em;
  text-transform: uppercase;
}

.header-col {
  height: 100%;
}
