<app-header></app-header>
<div class="container-fluid home">
  <div class="row">
    <div class="col-sm-12 text-center mt-5">
      <div id="form-container">
        <div id="sq-card-number"></div>
        <div class="third" id="sq-expiration-date"></div>
        <div class="third" id="sq-cvv"></div>
        <div class="third" id="sq-postal-code"></div>
        <button
          id="sq-creditcard"
          class="button-credit-card"
          onclick="onGetCardNonce(event)"
        >
          Pay $1.00
        </button>
      </div>
    </div>
  </div>
</div>
