<app-header></app-header>
<div class="container-fluid home">
  <div class="row">
    <div class="col-sm-12 text-center">
      <img class="img-fluid" src="/assets/images/house.JPG" alt="house" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center mt-0 title">
      Welcome to the Prescott Comedy Club
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center mt-5 main">
      We're proud to be everybody's hometown comedy club.<br />
      Showcasing performances from professional comedians around the state of
      Arizona, as well as nationally touring comics.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center mt-5"><h1>Upcoming Shows:</h1></div>
  </div>
   <div class="row">
    <div class="col-sm-12 text-center mt-5">
      <img class="img-fluid" src="/assets/images/12-20.JPG" alt="flyer" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center mt-5 mb-5">
      <a [routerLink]="['/tickets', '2-20']" routerLinkActive="active"
        ><button type="button" class="btn btn-primary btn-lg">
          Purchase tickets
        </button></a
      >
    </div>
  </div>
   <!-- <div class="row">
    <div class="col-sm-12 text-center mt-5">
      <img class="img-fluid" src="/assets/images/flyer-02-13.JPG" alt="flyer" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center mt-5 mb-5">
      <a [routerLink]="['/tickets', '2-13']" routerLinkActive="active"
        ><button type="button" class="btn btn-primary btn-lg">
          Purchase tickets
        </button></a
      >
    </div>
  </div> -->
</div>
